body {
    background-color:grey;
    padding: 0;
    margin: 0;
}

#wrapper {
    max-width: 640px;
    background-color: red;
    margin: 0 auto;
}

header {
    background-color: blue;
    height: 100px
}

nav  {
    background-color: grey;
    color: white;
}
nav ul li {
    display: inline-block;
  
    margin: 0 4%;
}


nav ul{
    width: 80%;
    margin: auto;
    
}
nav ul li a {
    display: block;
    padding: 15px;
}

li a:hover {
    background-color: white;
    color: grey;
}

nav li ul {
    padding: 0px;
    position: absolute;
    margin-left: -20px;
    margin-top: 0px;
}

nav li ul li {
    display: block;
  
    width: 20%;
    background-color: rgba(o, 0, 0, 0.6);
}

.hidden {
    opacity: 0;
    transition: all 0.5s ease;
}

nav li:hover .hidden {
    opacity: 1;
}

footer {
    background-color: salmon;
    height: 20px
}

.flynn {
    background-color:yellow;
}