@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

body {
    background-color:grey;
    padding: 0;
    margin: 0;
}

#wrapper {
    max-width: 640px;
    background-color: #d73927;
    margin: 0 auto;
}

header {
    background-color: #FFFFFF;
    height: 100px
}

nav  {
    background-color: #FFFFFF;
    color: #333333;
}
nav ul li {
    display: inline-block;
  
    margin: 0 4%;
}


nav ul{
    width: 80%;
    margin: auto;
    
}
nav ul li a {
    display: block;
    padding: 15px;
}

li a:hover {
    background-color: #d73927;
    color: #333333;
}

nav li ul {
    padding: 0px;
    position: absolute;
    margin-left: -20px;
    margin-top: 0px;
}

nav li ul li {
    display: block;
  
    width: 20%;
    background-color: rgba(o, 0, 0, 0.6);
}

.hidden {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

nav li:hover .hidden {
    opacity: 1;
    background-color:  #d73927;
}

footer {
    background-color: #d73927;
    height: 20px
}

.body1 {
  
    background-color:#FFFFFF;
    font-family: 'Georama', sans-serif;
}

.center {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 50%;
}